@use 'variables' as *;
@use 'mixins' as *;

%titulo-comun {
  color: $color-principal;
  font-family: $font-base;
  text-align: center;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%box-shadow-light {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

%box-shadow-principal {
  box-shadow: 0 2px 8px $color-principal;
}

%text-center {
  text-align: center;
}

%transition-transform {
  transition: transform 0.2s ease;
}

%image-style {
  border-radius: 10px;
  object-fit: cover;
  @include smooth-transition(transform, 0.4s);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(105, 74, 44, 0.3);
  }
}

%navbar-ul {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
  background-color: $color-navbar;
  margin: 5px auto;
  padding: 10px;
  gap: 1rem;
}